*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/* Navber Section */
#navber-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: azure;
    padding: 10px;
}
#navber-container:hover{
    box-shadow: 0 1px 2px 3px grey;
}

.navber-child-1{
    display: flex;
    align-items: center;
    gap: 5px;
}
.navber-child-2{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}
.navber-child-2 a{
    text-decoration: none;
    color: #065962;
}
.navber-child-3{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #c3c3c4;
    padding: 0px 7px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}
.navber-child-3 a{
    text-decoration: none;
    color: #065962;
}
.navber-child-3 img{
    height: 20px;
}

/* banner section */
#banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
